.cart-product {
  display: block;
}

.cart-product img {
  width: 80px;
}

@media only screen and (min-width: 1024px) {
  .cart-product {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .cart-product img {
    width: 100px;
  }

  .cart-product-title {
    width: 500px;
  }
  .order-btn,
  .clear-btn {
    margin-top: 20px;
  }
}
