.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #b0c4de;
}

.navbar-items {
  display: flex;
  height: 100%;
}

.navbar-item {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 30px;
  color: white;
  text-decoration: none;
}

.navbar-item.active {
  background-color: #5b6774;
}

.navbar-logo,
.cart-icon {
  height: 100%;
  cursor: pointer;
}

.navbar-logo {
  width: 3vw;
}

.cart-icon {
  width: 2vw;
}
