.navbar {
  background-color: blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-item {
  text-decoration: none;
  color: white;
}

.navbar-item.active {
  background-color: red;
}

.navbar-logo,
.cart-icon {
  width: 2vw;
  height: 50px;
  cursor: pointer;
  padding: 5px;
}
