.footer {
  background-color: #5b6774;
  color: white;
  padding: 15px 0;
  text-align: center;
}

.footer-items {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

.footer-item {
  text-decoration: none;
  color: white;
}

.footer-item:hover {
  color: #b0c4de;
}
